@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text" asp-area="" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
        </li>
    }
</ul>