@model IEnumerable<ProblemSets.Models.AppUser>
 
<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            @*вместо айди сделать ссылки на страницы"*@
            <td>@user.Id</td> <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>